[Unit]
Description=MariaDB
After=docker.service
Requires=docker.service
After=mariadb.service
Requires=mariadb.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill php-fpm
ExecStartPre=-/usr/bin/docker rm php-fpm
ExecStartPre=/usr/bin/docker pull php:fpm-alpine
ExecStartPre=/usr/bin/docker build -t php-pwk /srv/Docker/php
ExecStart=/usr/bin/docker run --name php-fpm -v /srv/pwk:/srv/caddy/html --link mariadb:mariadb php-pwk

[Install]
WantedBy=multi-user.target
